/* Global styles for the app */
@import './assets/css/colors';

body{
	background-color: $grey_background;
}

p,label{
	line-height: 1;
	margin: 0;
}

.btn-almundo{
    color: #fff;
    background-color: $blue;
    border-color: $blue;
}

.form-checkbox {
	display: none;

	& + label {
		position: relative;
		cursor: pointer;
		padding: 0;
	}

	& + label:before {
		content: '';
		margin-right: 10px;
		display: inline-block;
		vertical-align: text-top;
		width: 12px;
		height: 12px;
		border-radius: 2px;

		-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
	}

	&:checked + label:after {
		content: '';
		position: absolute;
		left: 2px;
		top: 5px;
		background: rgb(166,166,166);
		width: 2px;
		height: 2px;
		box-shadow: 
			2px 0 0 rgb(166,166,166),
			4px 0 0 rgb(166,166,166),
			4px -2px 0 rgb(166,166,166),
			4px -4px 0 rgb(166,166,166),
			4px -6px 0 rgb(166,166,166),
			4px -8px 0 rgb(166,166,166);
		transform: rotate(45deg);
	}
}