@import '../../../assets/css/colors';

$card_shadow: 0px 0px 5px 0px $grey_shadow;

.hotel-result{
	&__amenities{
		list-style: none;

		&__item{
			color: $black_font;
			font-size: 19px;

			&:not(:last-child){
				margin-right: 8px;
			}
		}
	}

	&__container{
		overflow: hidden;

		@media (max-width: 991px){
			align-items: center;
			flex-direction: column;
		}
	}

	&__data{
		-moz-box-shadow: $card_shadow;
		-webkit-box-shadow: $card_shadow;
		border-radius: inherit;
		box-shadow: $card_shadow;
		padding: 8px 0 8px 8px;
    	max-height: 220px;

		&:not(:last-child){
			margin-bottom: 28px;
		}

		@media (max-width: 991px){
			margin-bottom: 14px!important;
			max-height: initial;
			padding-right: 8px;

			> div.row{
				margin-right: -15px!important;
			}
		}
	}

	&__info{
		padding-right: 15px;
		width: calc(100% / 3);
		@media (max-width: 991px){
			padding: 0;
			width: 100%;	
		}

		@media (max-width: 991px) and (min-width: 568px){
			text-align: center;

			.hotel-result__amenities{
				justify-content: center;
			}
		}
	}

	&__image{
		padding-right: 15px;

		:hover{
			cursor: pointer
		}

		@media (max-width: 991px){
			align-items: center;
			display: flex;
			max-height: 240px;
			overflow: hidden;
			padding-right: 0;
		}

		@media (min-width: 992px){
			max-width: 365px;
			width: 40%;
		}

		&--error{
			width: 100%;
			height: 100%;
		}
	}

	&__name{
		color: $blue_font;
		font-weight: bold;
		margin-bottom: 5px;

		&:hover{
			color: $black_font;
			cursor: pointer;
		}

		@media (max-width: 991px){
			margin: 12px 0;
		}
	}

	&__price{
		flex-wrap: wrap;
		margin-bottom: 15px;

		&__currency{
			color: $orange_font;
			font-size: 24px;
			line-height: 1;
			margin-right: 5px;
		}

		&__label{
			color: $grey_font;
			font-size: 14px;
			margin-bottom: 15px;
		}

		&__total{
			color: $orange_font;
			font-size: 34px;
			font-weight: bold;
			line-height: 1;
		}
	}

	&__pricing{
		border-left: 1px dashed $grey_204;
		flex-grow: 1;
		padding: 0 8px;

		@media (max-width: 991px){
			border-left: none;
			padding: 0;
			width: 100%;

			& > div {
				border-top: 1px dashed $grey_204;
				padding-left: 0!important;
				padding-right: 0!important;
				padding-top: 16px!important;
				text-align: center;
				width: 100%;
			}
		}
	}

	&__rating{
		color: $yellow_font;
		margin-bottom: 12px;

		i:not(:last-child){
			margin-right: 5px;
		}
	}

	&__see-hotel{
		width: 100%;

		@media (max-width: 991px){
		    font-weight: bold;
    		font-size: 20px;
    	}
    	@media (max-width: 991px) and (min-width: 568px){
    		max-width: 60%;
    	}
	}

}

.empty-results{
	margin: 15px;
	text-align: center;

	&__text{
		color: $orange_font;
		font-size: 18px;
		font-weight: bold;
	}
}