<div class="hotel-result-page">
	<div *ngIf="emptyList; then noResults else results"></div>
</div>

<ng-template #noResults>
	<div class="card hotel-result__data">
		<div class="empty-results">
			<span class="empty-results__text">Lo sentimos, tu búsqueda no ha traído ningún resultado. ¡Inténtalo con nuevos criterios de búsqueda!</span>
		</div>
	</div>
</ng-template>
<ng-template #results>
	<div class="card hotel-result__data" *ngFor="let hotel of hotels">
		<div class="d-flex overflow-hidden hotel-result__container">
			<div class="hotel-result__image" (click)="openModal(hotel.image)">
				<img class="img-fluid" src="assets/images/hotels/{{hotel.image}}" default="assets/images/hotels/unavailable.jpg" alt="">
			</div>
			<div class="hotel-result__info">
				<p class="hotel-result__name">{{hotel.name}}</p>
				<p class="hotel-result__rating">
					<i class="icon-star" *ngFor="let index of [1,2,3,4,5]" [ngClass]="{'d-none' : index > hotel.stars}"></i>
				</p>

				<ul class="hotel-result__amenities d-flex px-0">
					<li class="hotel-result__amenities__item" *ngFor="let amenity of hotel.amenities">
						<i class="icon-{{amenity}}"></i>
					</li>
				</ul>
			</div>
			<div class="hotel-result__pricing d-flex align-items-center justify-content-center">
				<div class="flex-column align-center">
					<p class="hotel-result__price__label text-center px-1">Precio por noche por habitación</p>
					<div class="hotel-result__price d-flex align-items-center justify-content-center">
						<span class="hotel-result__price__currency">ARS</span>
						<span class="hotel-result__price__total">{{hotel.price}}</span>
					</div>

					<button class="btn btn-almundo hotel-result__see-hotel" (click)="openModal(hotel.image)">Ver hotel</button>
				</div>
			</div>
		</div>
	</div>
</ng-template>