.modal-img{
	background-color: rgba(0,0,0,.6);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	
	&__container{
	    height: 100vh;
	    padding-bottom: 15px;
		padding-top: 15px;
	}
	&__image{
		max-height: 100%;
		width: 100%;
	}
}