<div *ngIf="imgSrc !== ''" class="d-flex justify-content-center modal-img" (click)="closeModal()">
	<div class="col-12 col-md-6">
		<div class="modal-img__container d-flex align-items-center justify-content-center">
			<img src="assets/images/hotels/{{imgSrc}}" default="assets/images/hotels/unavailable.jpg" class="modal-img__image">
		</div>
	</div>
</div>