$almundo_blue_strong:rgba(4,58,127,1);
$almundo_blue_thin:rgba(28,73,136,1);
$black_font: rgb(71,71,71);
$blue: rgb(0,44,119);
$blue_font: rgb(20,128,183);
$grey_204: rgb(204,204,204);
$grey_background: rgb(244,244,244);
$grey_font: rgb(68,68,68);
$grey_shadow: rgba(0,0,0,0.15);
$orange_font: rgb(225,104,0);
$white: #FFFFFF;
$white_font: $white;
$yellow_font: rgb(255,187,0);